.prev-arrow{
    position: absolute;
    top: 3%;
    left: 0%;
    width: 3rem;
    height: 3rem;
}

.product-detail-body{
    height: 100vh;
    background-color: #fbf7f4;
    display: flex;
    justify-content: center;
    align-items: center;
}