.join-for-free-container{
    width: min(100%, 1800px);
    margin: 3em auto;
    padding: 7em;
    /* background-color: var(--primary-color); */
}


.jff-header{
    width: min(90%, 500px);
    text-align: center;
    margin: 1em auto;
}


@media (min-width:600px) {
    .jff-header{
        text-align: center;
        margin: 1em auto;
        max-width: 70rem;
    }
}

.jff-subheader{
    margin: 1em auto 1em auto; 
    text-align: center;
    width: min(90%, 1700px);
}

.jff-button{
    display: block;
    margin: 0em auto;
    padding: 1em;
    background-color: #fff;
    color: #fff;
    background-color: var(--dark-color);
}

.jff-button:hover{
    background-color: var(--secondary-color);
}