.main-body-container {
    background-color: var(--secondary-color);
    width: min(100%, 1800px);
    margin: 0 auto;
}

.intro-text {
    width: 100%;
}

.intro-img {
    display: block;
    margin: 0 auto;
    width: min(70vw, 480px);
    height: auto;
    background-position: center;
    border-radius: 10px;
    overflow-x: hidden;
}

/* .intro{
    width: min(50%, 450px);
    margin: 0 auto;
} */

.intro-container{
    width: min(80%, 1500px);
    margin: 2em auto;
    display: flex;
    align-items: center;
}


@media (max-width:1000px) {
    .intro{
        text-align: center;
        width: 90%;
    }
}